.listAndInputs{
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    min-width: 80%;
    max-width: 100%;
    height: 750px;
}
