.listAndDeleteButton {
    display: flex;
    flex-flow: row wrap;
    gap: 10%
}

li {
padding-bottom: 25px;
width: 60%;
}

.deleteButton {
    width: 10%;
    height: 28px;
    background-color: aquamarine;
    flex: 10% 0 auto;
}