*, *::before, *::after {
  background-color: rgb(255,244,233);
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}
/* .App {
  display: flex;
  flex-flow: row wrap;
  
} */
.toDoContainer{
  display: flex;
  flex-flow: column wrap;
  margin: 10% 70% 0% 5%;
  width: 40%;
  height: 750px;
  padding: 2%;
  border: 1px solid red;
}

.toDoContainer > h1{
  font-size: 1.0rem;
  margin: 1%;
  padding: 2%;
  border: 1px solid green;
  width: 90%;
  height: 86px;
}



.inputButton {
  padding: 25px;
} 

.inputButton  input {
  width: 60%;
  height: 35px;
 margin-right: 16%;
 margin-left: -3%;
}

.inputButton  button {
  width: 25%;
  height: 35px;
}
