*, *::before, *::after {
  background-color: #f5ddd5;
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}
.App {
  display: flex;
  flex-flow: row wrap;
  margin: 5% 0%;
  justify-content: center;


}
.toDoContainer{
  background-color: #f6fafb;
  display: flex;
  flex-flow: column wrap;
  margin: 0% 5% 0% 5%;
  min-width: 30%;
  max-width: 45%;
  height: 750px;
  padding: 2%;
  border: 1px solid #354F52;
}

.toDoContainer > h1{
  background-color: #f6fafb;
  color: black;
  font-size: 1.0rem;
  margin: 1%;
  padding: 2%;
  border: 1px solid #354F52;
  width: 90%;
  height: 86px;
}



.inputButton {
  background-color: #f6fafb;
  padding: 25px;
} 

.toDoForm{
  background-color: #f6fafb;
display: flex;

}

.inputButton  input {
  background-color: #f6fafb;
  width: 60%;
  height: 35px;
 margin-right: 16%;
 margin-left: -3%;
}

.inputButton  button {
  background-color: #f6fafb;
  width: 25%;
  height: 35px;
}
